/* @import url('https://fonts.googleapis.com/css?family=Special+Elite'); */


body {
    height: 100vh;
    background-color: whitesmoke;
}

#App{
    display: flex;
    justify-content: space-between;
}

#main{
    display: flex;
    flex-direction:column;
    align-items: stretch;
    min-width: 70%;
    padding-bottom: 15px;
    flex-grow: 1;
}

#headBar{
    background-color: wheat;
    /* font-family: 'Special Elite', cursive; */
}


#headBar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: solid .8px gray;
}

.filterButton{
    font-size: medium;
    font-weight: bold;
}

@media only screen and (min-width: 800px){
    .filterButton:hover{
        color: green;
        box-shadow: 2px 2px 2px 2px;
    }
}
