
form input{
    border: none;
    font-size: 15px;
    flex-grow: 1;
    background: none;
}

form input:focus{
    outline: none;
}

form {
    padding: 4px;
    border-bottom: dashed 1px green;
    display: flex;
    height: 31px;
}

.flagChooser{
    border: none;
}

.flagChooser:focus{
    outline: none;
}