#todoList{
    display: flex;
    flex-direction: column;
    padding: 7px;
    background: white;
}

.todo{
    padding: 4px;
    display: flex;
    border-bottom: dashed 1px green;
}

.todo:hover{
    background: whitesmoke
}

.subTodo {
    border-bottom: dashed 1px green;
}

.todoTitle{
    padding: 0 12px;
    flex-grow : 1
}

.stateButton{
    border: none;
    background: none;
}

.stateButton:focus{
    outline: none
}